// .logosCarousel {
//   background-color: #2A2415;
// }

.scrollContainer {
  position: relative;
  height: 120px;
  overflow: hidden;
}

.carouselPrimary,
.carouselSecondary {
  top: 26%;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.carouselPrimary {
  display: flex;
  animation: scroll-horizontal 20s linear infinite;
}

.carouselSecondary {
  animation: scroll-horizontal 20s linear infinite;
  animation-delay: 10s;
}

@keyframes scroll-horizontal {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.carouselPrimary:hover,
.carouselPrimary:hover~.carouselSecondary {
  animation-play-state: paused;
}

.carouselSecondary:hover {
  animation-play-state: paused;
}

.scrollContainer:hover > .carouselPrimary:not(:hover) {
  animation-play-state: paused;
}

.logoLink {
  // border-radius: 10px;
  // border: 1px solid #2A2415;
  overflow: hidden;
  display: block;
  flex-shrink: 0;
  // margin: 0 20px;

  // @media screen and (min-width: 768px) {
  //     margin: 0 20px;
  // }

  img {
    width: 150px;
    height: auto;
    object-fit: cover;

    @media screen and (min-width: 768px) {
      width: 200px;
    }
  }
}
