.buttonModal {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background: transparent;
  border: 2px solid #bd8948;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  // text-transform: uppercase;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: #bd8948;
    color: #fff;
  }
}