.inputContainer {
  position: relative;
}

.inputField {
  width: 100%;
  padding: 0.9rem 0.5rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0;
  outline: none;
  transition: border-color 0.2s ease;
  color: hsl(0, 0%, 20%);;
}

.inputField:focus {
  border-color: #bd8948;
}

.floatingLabel {
  position: absolute;
  left: 0.5rem;
  top: 0.8rem;
  transition: all 0.2s ease;
  color: #aaa;
  pointer-events: none;
  background: transparent;
  padding: 0 0.25rem;
}

.active {
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.8rem;
  color: #bd8948;
  background: #fff;
}
