.partnersCta {
  margin-bottom: clamp(3.75rem, 2.5rem + 5vw, 6.25rem);
}

.cta {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding-top: clamp(1.563rem, 0.781rem + 3.13vw, 3.125rem);
  padding-left: clamp(1.563rem, 0.781rem + 3.13vw, 3.125rem);
  padding-bottom: clamp(1.563rem, 0.781rem + 3.13vw, 3.125rem);

  @media screen and (max-width: 980px) {
    padding-right: clamp(1.563rem, 0.781rem + 3.13vw, 3.125rem);
    
  }
}

.ctaWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ctaContent{
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: clamp(2.5rem, 2.313rem + 0.75vw, 3.125rem);
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  color: rgb(26, 26, 26);
}

.highlight {
  color: #bd8948;
}

.description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(26, 26, 26);
  
  @media screen and (min-width: 980px) {
    max-width: 300px;
  }
}

.ctaButton {
  position: relative;
  z-index: 1;
  
  button {
    background-color: #bd8948;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.image {
  display: none;

  @media screen and (min-width: 980px) {
    display: block;
    position: absolute;
    top: -20%;
    right: 0;
  }
}