.noProjects {
  color: #bd8948;
  font-size: clamp(2rem, 2.5vw, 3.75rem);
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  padding-top: 50px;
  margin-bottom: clamp(1.25rem, 0.938rem + 1.25vw, 1.875rem);
}