.reviews {
  margin-top: clamp(2.813rem, 1.563rem + 6.25vw, 6.25rem);
  margin-bottom: clamp(2.813rem, 1.563rem + 6.25vw, 6.25rem);
}

.title {
  color: #fff;
  font-size: clamp(2rem, 2.5vw, 3.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 50px;
}