.imageBulletsBlock {
  background-color: #f5f5f5;
  padding-bottom: clamp(2.813rem, 1.563rem + 6.25vw, 6.25rem);
}

.block {
  background-color: #fff;
  padding: 20px 20px 0 20px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    padding: 45px 45px 0 45px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20px;
  
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: unset;
    gap: 70px;
  }

  @media screen and (min-width: 1200px) {
    gap: 100px;
  }
}

.bulletsBlock {
  color: #000307;

  ol {
    list-style-type:decimal;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.7;
    }

    ul {
      list-style-type:circle;
      padding-left: 20px;

      li {
        font-size: 16px;
        font-weight: 300;
      } 
    }
  }
}