.blogPosts {
  margin-top: 100px;
  margin-bottom: clamp(2.813rem, 2.344rem + 1.88vw, 3.75rem);
}

.pageTitle {
  font-size: clamp(2.75rem, 2.25rem + 2vw, 3.75rem);
  line-height: 120%;
  font-weight: 300;
  margin-bottom: clamp(1.25rem, 5vw, 3.75rem);
}